{% extends 'nalog/base.html' %}

{% block title_block %}
    Calculations
{% endblock %}

{% block body_block %}
{% if user.is_superuser %}
    <div class="h1">Calculations</div>
    {% if users_list %}
        <table id="all_users" class="table table-striped table-bordered" border="1">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Salary</th>
                    <th>Result</th>
                    <th>Dividends</th>
                    <th>13%</th>
                    <th>30%</th>
                    <th>Children</th>
                    <th>Amount of children</th>
                    <th>Disabled children</th>
                </tr>
            </thead>
        </br>
            <tbody>
            {% for user in users_list %}
                <tr>
                    <td>{{user.IDuser.username}}</td>
                    <td>{{user.dateStart}}</td>
                    <td>{{user.number}}</td>
                    <td>{{user.result}}</td>
                    <td>{{user.per13div}}</td>
                    <td>{{user.per13}}</td>
                    <td>{{user.per30}}</td>
                    <td>{{user.checkChild}}</td>
                    <td>{{user.countChild}}</td>
                    <td>{{user.checkInv}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input id="button" class="btn btn-default" type="button" value="To admin" name="" />
        <script>
            $(function(){
                $("#all_users").dataTable({
                    "order": [[ 1, "desc" ]]
                });
            });
            $('#button').click(function() {
                window.location.href = '/admin/nalog/userresults/';
                return false;
            });
        </script>
    {% else %}
        Пока еще нет пользователей
    {% endif %}
{% else %}
    <div class="h1">You haven't superuser</div>
{% endif %}
{% endblock %}